* {
    box-sizing: border-box;
    margin: 0;
  }



  body {
    background-color: #000000;
    text-align: center;


  }

    .facebookBubeHover:hover {
    background-color: #6767ff;
    border-radius: 100%;
    box-shadow: 0 0 3px 3px #fff inset;

  }

  .break {
    display: block;
  }

  .main{
    background-color: #19232d;
    margin: 50px;
    border-radius: 30px;
  }

  p {
    font-family: monospace;
    letter-spacing: 0px;
    text-transform: uppercase;
    line-height: 25px;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
  }

@media(max-width:23em){
    h1{
        font-size:13px !important;
    }
}

  h1 {
    font-family: fantasy;
    position: relative;
    font-size: 20px;
    margin: 10px auto;
  }



  .magnaPortaMaximus {
    background-color: #f4f4f4;
    padding: 20px 40px;


  }

  .logoImg {
    max-width: 300px;
    margin: 0 auto;


  }

  .logoImg img {
    width: 100%;
    z-index: 999;
    position: relative;

  }

  .magnaPortaMaximus-text {
    color: #000;
    background-color: #fff;
    position: relative;
    z-index: 999;
    text-shadow: 0 1px 10px wheat;
    font-weight: bold;
    border: 5px ridge #000;



  }

  .magnaPortaText {
    border: 3px dashed rgba(0, 0, 0, 0.3);
  }

  .magnaPortaText::before {
    content: "";
    background-color: white;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    left: 0;
    opacity: 0.3;


  }

  .textAndImg {
    min-height: 100%;
  }

  .magnaPortaMaximus-text::before {
    content: "";
    
    background-image: radial-gradient(#fffb0075, #030c65), url("asstes/images/uzivancija.jpg");
    
    
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: 0;
    background-attachment: fixed;
    background-position: center center;
  }

  .btn {
    padding-top: 10px;
    display: inline-block;
    position: relative;
    padding-bottom: 13px;
    border: 3px dashed #0000004d;
    border-top: none;
  }

  .btn a::before {

    content: "";
    background-color: white;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    opacity: 0.3;
    z-index: 0;
    bottom: 0;
    left: 0;


  }

  .magnaPortaMaximus a:nth-child(1) {
    text-decoration: none;

    
    color: #000;

  }



  .projects {
    background-color: #fff;
    padding: 20px 40px;

  }

  .projectText {
    width: 100%;
    background: #fff;
    border: 5px solid #000;
    display: inline-block;
  }

  .magnaPortaMaximusPLUSprojects {
    max-width: 90%;
    margin: 0 auto;
  }

  .header h1 {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    max-width: 300px;
    /* text-shadow: 0px 1px #f4f4f4; */
  }

  .header {


    margin: 0 auto;
    padding: 10px;
  }


  .header h1:after {
    content: "";
    border-bottom: 1px solid white;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
  }

  div.header:first-of-type p {
    color: #fff;
    max-width: 300px;

  }

  .socialIcons a{
    text-decoration: none;;
  }

  .subscribe h1,
  .subscribe p,
  .form label {
    color: #fff;
    display: block;
    
    

  }

  .subscribe p {
    max-width: 240px;
    margin-bottom: 20px;

  }

  input[type="submit"] {
    margin: 20px auto;
    font-weight: bold;
    box-shadow: 0 0 0px 3px white inset;
    border: none;
    background: none;
    color: white;
    border-radius: 10px;
   
  }

 

  .form input {
  
    min-width: 100%;
    height: 50px;

  }

  form{
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  }


  
/* https://music.youtube.com/watch?v=R3Wn7qWUTBA */
